.active {
  font-weight: bold;
}

.right-triangle {
  /* bottom-[0%]  */
  @apply absolute h-[120%] w-4/12 right-[0%] top-0;
  background: rgba(255, 0, 0, 0.5);
  /* -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%); */
  /* clip-path: polygon(100% 0, 0% 100%, 100% 100%); */
  z-index: -1;
}
